//@import "~bootstrap/scss/bootstrap";
* {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #1A1C1D;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.main-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9fb;
}

.sidebar {
  width: 320px;
  border-right: 1px solid #e0e0e0;
  overflow-y: auto;
  background-color: #fff;
}

.content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

// .contact-row-role {
//   color: #8083A3;
// }

// .contact-row-name {
//  font-weight: bold;
// }